.input-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .inpt {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 10px;
  }
  