   <div class="input-container">

    <input
      class="inpt"
      [type]="type === 'password' && !showPassword ? 'password' : 'text'"
      [placeholder]="placeholder"
      [(ngModel)]="inputValue"
      (ngModelChange)="inputChange($event)"
      (blur)="sendData()"
      [required]="required"
      [ngClass]="{ 'error-border': errorMessage }"
    />
    <span *ngIf="type === 'password'" class="password-toggle" (click)="togglePassword()">
      <i class="fas" [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"></i>
    </span>
    <!-- <button
     *ngIf="type === 'password'" class="toggle-btn" (click)="togglePassword()" type="button">
      {{ showPassword ? '👁️' : '👁️' }}
    </button> -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
  
  
  