.input-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    position: relative;
    height: 40px;
  }

  .inpt {
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    flex: 1;
    background-color: rgb(238, 235, 235);
    color: #000000;
  }

  .error-border {
    border: 1px solid red;
  }
    
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 10px;

  }

  ::placeholder{
    color: #818181;
  }
  
/* 
  .toggle-btn {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    align-self: center;
  } */

  .password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgb(84, 82, 82);
  }
  
  .password-toggle i {
    font-size: 18px;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 10px;
  }
  
  