<!-- <div class="input-container">
    <input
      class="inpt"
      [type]="type"
      [placeholder]="placeholder"
      [formControl]="inptControl"
      [(ngModel)]="model"
      (blur)="inptControl.updateValueAndValidity()"
    />
    <div *ngIf="showError" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
   -->

   <div class="input-container">
    <input
      class="inpt"
      [type]="type === 'password' && !showPassword ? 'password' : 'text'"
      [placeholder]="placeholder"
      [(ngModel)]="inputValue"
      (ngModelChange)="inputChange($event)"
      (blur)="sendData()"
      [required]="required"
    />
    <button
     *ngIf="type === 'password'" class="toggle-btn" (click)="togglePassword()" type="button">
      {{ showPassword ? '👁️' : '👁️' }}
    </button>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
  
  
  