<!-- <div class="container">
    <app-input placeholder="E-posta adresinizi giriniz" type="email" [required]="true" (data)="bindData($event)"></app-input>
    <app-input placeholder="Bir sayı giriniz" type="number" [required]="true" (data)="bindData($event)"></app-input>
    <app-input placeholder="Şifrenizi giriniz" type="password" [required]="true" (data)="bindData($event)"></app-input>
</div>
  -->


  <div class="container">
    <app-input placeholder="E-posta adresinizi giriniz" type="email" [(model)]="email" [required]="true" (data)="bindData($event)"></app-input>
    <app-input placeholder="Bir sayı giriniz" type="number" [(model)]="number" [required]="false" (data)="bindData($event)"></app-input>
    <app-input placeholder="Şifrenizi giriniz" type="password" [(model)]="password" [required]="true" (data)="bindData($event)"></app-input>
  </div>
  